<div class="sidebar-menu">

  <div class="sidebar-menu-inner">

    <header class="logo-env">

      <!-- logo -->
      <div class="logo">
        <a href="index.html">
          <img src="assets//img/demosNeon/logo@2x.png" width="120" alt="" />
        </a>
      </div>

      <!-- logo collapse icon -->
      <div class="sidebar-collapse">
        <a href="#" class="sidebar-collapse-icon with-animation"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
          <i class="entypo-menu"></i>
        </a>
      </div>


      <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
      <div class="sidebar-mobile-menu visible-xs">
        <a href="#"><!-- add class "with-animation" to support animation -->
          <i class="entypo-menu"></i>
        </a>
      </div>

    </header>


    <ul id="main-menu" class="main-menu">
      <!-- add class "multiple-expanded" to allow multiple submenus to open -->
      <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
      <li>
        <a href="index.html">
          <i class="fa fa-shopping-cart"></i>
          <span class="title">Hacer Pedido</span>
        </a>
      </li>

      <li>
        <a href="layout-api.html">
          <i class="fa fa-list"></i>
          <span class="title">Mis Depósitos</span>
        </a>
      </li>

      <li>
        <a href="index.html" target="_blank">
          <i class="fa fa-list-alt"></i>
          <span class="title">Historial de Compras</span>
        </a>
      </li>

      <li>
        <a href="ui-panels.html">
          <i class="fa fa-user"></i>
          <span class="title">Editar Perfil</span>
        </a>
      </li>

    </ul> <!-- end menu ul -->

  </div> <!-- end sidebar -->

</div><!-- end sidebar -->
