<div>
  <div class="row">
    <!-- Profile Info and Notifications -->
    <div class="col-md-6 col-sm-8 clearfix">
      <ul class="user-info pull-left pull-none-xsm">
        <!-- Profile Info -->
        <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/img/demosNeon/thumb-1@2x.png" alt="" class="img-circle" width="44" />
            John Henderson
          </a>
          <ul class="dropdown-menu">
            <!-- Reverse Caret -->
            <li class="caret"></li>
            <!-- Profile sub-links -->
            <li>
              <a href="#">
                <i class="entypo-user"></i>
                Editar Prerfil
              </a>
            </li>
            <li>
              <a href="#">
                <i class="entypo-logout"></i>
                Salir
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="user-info pull-left pull-right-xs pull-none-xsm">
        <!-- Raw Notifications -->
        <li class="notifications dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="entypo-attention"></i>
            <span class="badge badge-info">6</span>
          </a>
          <ul class="dropdown-menu">
            <li class="top">
              <p class="small">
                <a href="#" class="pull-right">Marcar como leídas</a>
                Tienes <strong>3</strong> nuevas notificaciones.
              </p>
            </li>
            <li> <!-- comienza lista notificaciones -->
              <ul class="dropdown-menu-list scroller">
                <li class="unread notification-success">
                  <a href="#">
                    <i class="entypo-check pull-right"></i>
                    <span class="line">
                      <strong>Depósito Aceptdo</strong>
                    </span>
                    <span class="line small">
                      19/07/16 @ 17:00 hrs
                    </span>
                  </a>
                </li> <!-- termina notificacione single -->
              </ul>
            </li> <!-- termina lista notificaciones -->
          </ul>
        </li> <!-- termina notificaciones dropdown -->
      </ul>
    </div> <!-- end icons profile etc primera parte etc -->
    <!-- Raw Links -->
    <div class="col-md-6 col-sm-4 clearfix hidden-xs">
    </div> <!-- esto ayuda a la estructura del maquetado -->

  </div> <!-- comienza cuerpo del contenido -->

  <hr /> <!-- separacion de barra superor -->
</div>
